@model Author

<div class="container-fluid">
    <h1 class="text-center"> Author Details</h1>
    <hr />
    <div class="col-6 offset-3">
        <label>Name:</label> <h3> @Model.Name</h3>
        <br />
        <label>Date Created:</label> <h3> @Model.DateCreated</h3>
        <br />
        <label>Date Updated:</label> <h3> @Model.DateUpdated</h3>
        <br />
        <a class="btn btn-warning" href="Authors/Edit?id=@Model.Id">Edit Author</a>
        <button class="btn btn-danger">Delete</button>


    </div>
</div>